block content
    h1= title

    h2 Form:

    form(name="transaction-request", method="post")
        div.input
            span.label From Bank Id
            input(type="text", name="from_bank_id", value=fromBankId)
        div.input
            span.label From Account Id
            input(type="text", name="from_account_id", value=fromAccountId)
        div.input
            span.label To Bank Id
            input(type="text", name="to_bank_id", value=toBankId)
        div.input
            span.label To Account Id
            input(type="text", name="to_account_id", value=toAccountId)
        div.input
            span.label Currency
            input(type="text", name="currency", value=currency)
        div.input
            span.label Amount
            input(type="text", name="amount")
        div.input
            span.label Transaction Request Type
            input(type="text", name="transaction_request_type", value=transactionRequestType)
        div.input
            span.label Description
            input(type="text", name="description")

        div.actions
            input(type="submit", value="Submit")


    h2 Info:
    
    p #{message}
    p #{error}
    p POSTed URL: #{postUrl}
    p Body: #{details}
    p Response from API: #{data}